body {
  background: url('./imagenes/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  color: black; /* Texto en negro */
}

.card {
  margin-bottom: 20px;
}

.card-body h5.card-title {
  color: black; /* Título de la tarjeta en negro */
}

.card-body p.card-text {
  color: black; /* Texto de la tarjeta en negro */
}

.main {
  padding: 20px;
}

.navbar-nav .nav-link {
  color: black; /* Texto de los enlaces del navbar en negro */
}

.navbar-brand img.logo {
  height: 60px; /* Ajusta la altura del logo */
}

.row.justify-content-center {
  display: flex;
  justify-content: center;
}

.sidebar {
  height: 100vh;
  background-color: #f8f9fa;
  padding: 15px;
}

.sidebar img.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.sidebar .user-info {
  margin-top: 15px;
}

.main-content {
  padding: 20px;
}

.btn {
  width: 100%;
}

.tit {
  margin-top: 20px;
  margin-left: 4.5%;
}

.custom-carousel {
  max-width: 1200px; 
  margin: 0 auto; 
}

.custom-carousel .carousel-item {
  height: 500px;
}

.custom-carousel .carousel-item img {
  object-fit: cover; 
  height: 100%; 
  width: 100%; 
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
  color: #fff;
}

/* Estilos para los enlaces del navbar */
.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
}
